* {
  padding: 0;
  margin: 0;
}

header {
  box-shadow: 0px 1px rgb(228, 227, 227);
}

header .header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

nav ul {
  display: flex;
  padding: 1rem 0;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin-right: 3rem;
}

.width-80-m-auto {
  margin: auto;
  width: 80%;
}

.text-small {
  font-size: 14px;
}

.banner {
  height: 400px;
  background-image: url("./img/landscape.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner .info {
  height: 100%;
  padding: 5rem;
}

.banner .info h1 {
  font-size: 3rem;
}

.banner .info h3 {
  font-size: 1.5rem;
}

.banner .info h1, .banner .info h3 {
  padding-bottom: 1rem;
}

.banner button {
  background: black;
  color: aliceblue;
  padding: 15px 20px;
  border-radius: 1rem;
  width: 10rem;
  display: flex;
  justify-content: space-between;
  outline: none;
}
.categories {
  margin-top: 5rem;
}

.categories {
  display: flex;
  justify-content: space-between;
}

.category {
  display: flex;
  justify-content: space-around;
}

.category{
  width: 42%;
  padding: 2rem;
  background-color:  rgb(241, 241, 241);
  border-radius: 0.5rem;
}

.category h1 {
  margin: 1rem 0;
}

.category h3 {
  margin-bottom: 3rem;
}

.category button {
  background: transparent;
  border-color: transparent;
  width: 6rem;
  display: flex;
  justify-content: space-between;
}

.product-container {
  margin-top: 4rem;
}

.products {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
}

.flower-container {
  width: 20%;
}

.flower-container .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
}

.flower {
  width: 100%;
  height: 300px;
  background-color:  rgb(241, 241, 241);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

.flower img {
  width: 150px;
}

footer {
  margin-top: 4rem;
  background-color: black;
  color: aliceblue;
  padding: 2rem 0;
}

footer .inner {
  display: flex;
  justify-content: space-between;
}

footer .inner h4 {
  margin-bottom: 1rem;
}

footer .inner ul li {
  list-style: none;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
}